<!DOCTYPE html>
<html lang="sl">
<head>
    <meta charset="UTF-8">
    <title>FLASK</title>
</head>
<body>
    <h1>Met kovanca</h1>
    <div id="coin">Klikni gumb za met</div>
    <button onclick="btnclick()" type="button">FLIP</button>
</body>
</html>

<script>
    function btnclick() {
        var divCoin = document.getElementById("coin")
        $.ajax({
            url: "/coinData",
            data:{zipcode:97201},
            success: function(result){
                console.log(result)
                divCoin.innerHTML=result
            }
        })
    }
</script>